{{> admin-header}}

<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <form method="post" enctype="multipart/form-data" role="form" name="sub" onsubmit="return validateForm(event)" action="/admin/edit-form-submit/{{products._id}}">
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="title">Title</label>
                <input type="text" id="title" value="{{ products.title }}" name="title" class="form-control" required>
                <p class="text-danger" id="title-error-message"></p>
              </div>
              <div class="col">
                <label for="price">Price</label>
                <input type="number" id="price" value="{{ products.price }}" name="price" class="form-control"  min="0">
                <p class="text-danger" id="price-error-message"></p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-select" required>
                  <option selected>{{ products.category }}</option>
                  {{# each productDetails }}
                  <option>{{ categoryname }}</option>
                  {{/ each}}
                </select>
              </div>
              <div class="col">
                <label for="stock">Stock</label>
                <input type="number" value="{{ products.stock }}" name="stock" id="stock" class="form-control" required min="0">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="brand">Brand</label>
                <input type="text" value="{{ products.brand }}" name="brand" id="brand" class="form-control">
              </div>
              <div class="col">
                <label for="subcategory">Sub category</label>
                <input type="text" value="{{ products.subcategory }}" name="subcategory" id="subcategory" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="productid">Product id</label>
                <input type="text" value="{{ products.productid }}" name="productid" id="productid" class="form-control">
              </div>
              <div class="col">
                <label for="image">Images</label>
                <input multiple value="{{ products.image }}" type="file" name="image[]" id="image" class="form-control" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="description">Description</label>
                <input type="text" value="{{ products.description }}" name="description" id="description" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="productInformation">Product Information</label>
                <input type="text" value="{{ products.productInformation }}" name="productInformation" id="productInformation" class="form-control">
              </div>
            </div>
          </div>

          <h5 class="card-title">All Images</h5>

          {{# each products.image }}
          <div class="form-row">
            <div class="card">
              <div class="card-body">
                <img width="150px" height="150px" src="/productImages/{{ this }}" alt="">
                <div style="float: right;" class="mb-3">
                  <input class="form-control" value="{{ this }}" name="image[]" id="image-{{ @index }}" type="file">
                </div>
              </div>
            </div>
          </div>
          {{/each}}

          <p class="text-danger" id="error-message"></p>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn bg-danger">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Wrapper End-->
{{> admin-footer}}

<script>
  function validateForm(event) {
    const titleInput = document.getElementById("title");
    const priceInput = document.getElementById("price");
    
    if (titleInput.value === "") {
        event.preventDefault();
        document.getElementById("title-error-message").innerHTML = "Title is required.";
    } else {
        document.getElementById("title-error-message").innerHTML = "";
    }
    
    if (priceInput.value === "") {
        event.preventDefault();
        document.getElementById("price-error-message").innerHTML = "Price is required.";
    } else if (priceInput.value < 0) {
        event.preventDefault();
        document.getElementById("price-error-message").innerHTML = "Price cannot be negative.";
    } else {
        document.getElementById("price-error-message").innerHTML = "";
    }
  }
</script>
