

{{>admin-header}}
      <div class="content-page">
      <div class="container-fluid">
         <div class="row">
            <p class="text-danger">{{message}}</p>
               <form action="/admin/category-management" method="post" >
                <div class="input-group mb-4">
                <input required type="text" name="categoryname" class="form-control" placeholder="Enter New Category Name"
                    aria-label="Recipient's username" aria-describedby="basic-addon2"  pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9]+)*$" title="invalid category only include  letters and digits" >
                <div class="input-group-append">
                        <button type="submit" class="btn btn-dark ">Add Category</button>
                    </div>
                </div>
                </form>
 <table class="table">
   <thead class="thead-dark">
      <tr>
         <th scope="col">#</th>
         <th scope="col">categories</th>
         <th scope="col">date</th>
         <th scope="col">action</th>
         <th></th>
         
      </tr>
   </thead>
   <tbody>
    {{#each categoryDetails}}
      <tr>
         <th scope="row">{{inc @index}}</th>
         <td>{{categoryname}}</td>
         <td>{{date}}</td>
         <td>
            {{!-- <a href="/admin/edit-category/{{_id}}"><button type="button" class="btn btn-dark"> edit  </button></a> --}}
            <button type="button" class="btn btn-dark" onclick="addvalue('{{categoryname}}','{{_id}}')" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Edit</button>
            </td>
         <td>{{#if status}}
             <a href="/admin/delete-category/?id={{_id}}&status=false"><button type="button" class="btn btn-dark">Disable</button></a>
             {{else}}
             <a href="/admin/delete-category/?id={{_id}}&status=true"><button type="button" class="btn btn-dark">Enable</button></a>
             {{/if}}</td>
         
      </tr>
      {{/each}}
      
   </tbody>
</table>


<script>
   function addvalue(oldcategory,id){
      var inputBox = document.getElementById("oldcategory");
      inputBox.value =oldcategory;
      var inputId=document.getElementById("categoryid");
      inputId.value=id

       var inputId=document.getElementById("editcategory");
      inputId.value=oldcategory
   }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/admin/edit-category">
          <div class="form-group">
            <input hidden name="id" type="text" class="form-control" id="categoryid">
            <input hidden name="category" type="text" class="form-control" id="oldcategory">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Category Name</label>
            <input required type="text" name="editedcategory" class="form-control" id="editcategory" pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9]+)*$" title="invalid category only include  letters and digits and no spaces">
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
            
         </div>
      </div>
      </div>
    </div>
    <!-- Wrapper End-->
    {{>admin-footer}}