{{>admin-header}}


      <div class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               </div>
                     {{!-- <p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p> --}}
                     <div class="table-responsive">
                        <table id="datatable-1" class="table data-table table-striped table-bordered" >
                           <thead>
                              <tr>
                                 <th>Image</th>
                                 <th>Title</th>
                                 <th>Ordered User</th>
                                 <th>Delivery Address</th>
                                 <th>Order Status</th>
                                 <th>Product Id</th>
                                 <th>Payment Id</th>
                                 <th class="text-right">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                            {{#each orders}}
                              <tr>
                                 <td ><img style="width: 50px;height: 50px;" src="/productImages/{{products.image.[0]}}"></td>
                                 <td>{{products.title}}</td>
                                 <td>{{ordereduser}}</td>
                                 <td>{{deliveryaddress.name}},<br>{{deliveryaddress.locality}},<br>{{deliveryaddress.address}},<br>{{deliveryaddress.city}},<br>{{deliveryaddress.landmark}},<br>{{deliveryaddress.state}},<br>{{deliveryaddress.pincode}},<br>{{deliveryaddress.phone}},<br>{{deliveryaddress.alternativephone}}</td>
                                 <td>{{products.status}}</td>
                                    
                                 
                                 <td>{{products.productid}}</td>
                                 <td>{{products.paymentid}}</td>
                                <td> {{#if (eq products.status "canceled")}}
                                 
                                 {{else}}
                                 {{#if (eq products.status "delivered")}}


                                 {{else}}
                                 {{#if (eq products.status "Return Requested")}}
                                 <a href="/admin/change-order-status/?id={{_id}}&productid={{products.productid}}&status=Return Accepted&quantity={{products.quantity}}&paymentmethod={{paymentmethod}}&totalprice={{products.totalprice}}&ordereduser={{ordereduser}}"><button style="margin-bottom: 1rem;" type="button" class="btn btn-outline-success btn-sm">Accept return</button></a>
                                <a href="/admin/change-order-status/?id={{_id}}&productid={{products.productid}}&status=Return Declined&quantity={{products.quantity}}&paymentmethod={{paymentmethod}}&totalprice={{products.totalprice}}&ordereduser={{ordereduser}}"><button type="button" class="btn btn-outline-danger btn-sm">Decline Return</button></a>

                                 {{else}}
                                 {{#if (eq products.status "Return Accepted")}}

                                    {{else}}
                                    {{#if (eq products.status "Return Declined")}}
                                    {{else}}
                                 <td class="text-right"><div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Change Status
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="/admin/change-order-status/?id={{_id}}&productid={{products.productid}}&status=canceled&quantity={{products.quantity}}&paymentmethod={{paymentmethod}}">Cancel Order</a>
                                                <a class="dropdown-item" href="/admin/change-order-status/?id={{_id}}&productid={{products.productid}}&status=pending&quantity={{products.quantity}}&paymentmethod={{paymentmethod}}">Pending Order</a>
                                                <a class="dropdown-item" href="/admin/change-order-status/?id={{_id}}&productid={{products.productid}}&status=delivered&quantity={{products.quantity}}&paymentmethod={{paymentmethod}}"> Order Delivered</a>
                                                <a class="dropdown-item" href="/admin/change-order-status/?id={{_id}}&productid={{products.productid}}&status=confirmed&quantity={{products.quantity}}&paymentmethod={{paymentmethod}}"> Order confirm</a>
                                            </div>
                                            </div></td>
                                            {{/if}}
                                            {{/if}}
                                            {{/if}}
                                            {{/if}}
                                            {{/if}}</td>
                             </tr>
                              {{/each}} 
                              
                           </tbody>
                           <tfoot>
                              <tr>
                                 <th>Image</th>
                                 <th>Title</th>
                                 <th>Ordered User</th>
                                 <th>Delivery Address</th>
                                 <th>Order Status</th>
                                 <th>Product Id</th>
                                 <th class="text-right">Action</th>
                              </tr>
                           </tfoot>
                        </table>
            </div>
         </div>
      </div>
      </div>
    </div>
    <!-- Wrapper End-->
    {{>admin-footer}}