{{>admin-header}}

<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="card-title">Users Details</h4>
                  </div>
                  <div class="header-action">

                  </div>
               </div>
               <div class="card-body">
                  <div class="collapse" id="datatable-1">
                     <div class="card"><kbd class="bg-dark">
                           <pre id="bootstrap-datatables" class="text-white"><code></code></pre>

       
         

                        </kbd></div>
                  </div>
                  
                  <div class="table-responsive">
                     <table id="datatable-1" class="table data-table table-striped table-bordered">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Username</th>
                              <th>email</th>
                              <th>Phone</th>
                              <th>Status</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each userData}}
                           <tr>
                              <td>{{name}}</td>
                              <td>{{username}}</td>
                              <td>{{email}}</td>
                              <td>{{phone}}</td>
                              <td>{{status}}</td>
                              <td class="text-right">{{#if status}}
                                 <a href="/admin/users-block/{{_id}}"><button type="button"
                                       class="btn btn-dark active mt-2">Block</button></a>
                                 {{else}}
                                 <a href="/admin/users-unblock/{{_id}}"><button type="button"
                                       class="btn btn-outline-dark disabled mt-2">Unblock</button></a>
                                 {{/if}}
                              </td>
                           </tr>
                           {{/each}}

                        </tbody>
                        
                     </table>
                  </div>
               </div>
            </div>