{{>user-header}}

<div class="row" style="padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;">
    {{!-- <div class="input-group">
        <input onkeyup="sendData(this)" type="search" class="form-control rounded" placeholder="Search"
            aria-label="Search" aria-describedby="search-addon" />


    </div> --}}
    <div id="searchbox"></div>
</div>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop_sidebar_search">
                            <input style="background:#f3f2ee;
    margin-bottom: 2rem;" type="text" id="searchInput" placeholder="Search products..."
                                class="form-control rounded-pill border-0 shadow-sm">
                        </div>

                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {{#each productDetails}}
                                                <li><a href="/category/{{categoryname}}">{{categoryname}}</a></li>
                                                {{/each}}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="/price-filter/?from=500&to=600">₹500.00 - ₹600.00</a></li>
                                                <li><a href="/price-filter/?from=600&to=700">₹600.00 - ₹700.00</a></li>
                                                <li><a href="/price-filter/?from=800&to=900">₹800.00 - ₹900.00</a></li>
                                                <li><a href="/price-filter/?from=1000&to=1100">₹1000.00 - ₹1100.00</a>
                                                </li>
                                                <li><a href="/price-filter/?from=1200&to=1300">₹1200.00 - ₹1300.00</a>
                                                </li>
                                                <li><a href="/price-filter/?from=1300&to=500000000">1300.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                {{!-- <p>Showing 1–12 of 126 results</p> --}}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <div class="shop__product__option__right">

                                

                               <a href="/sort/LTH"> <button class="btn btn-sm btn-dark ">HIGH TO LOW</button></a>
                                <a href="/sort/HTL"><button class="btn btn-sm btn-dark">LOW TO HIGH</button></a>
                                <a href="/sort/DFT"><button class="btn btn-sm btn-dark active">DEFAULT</button></a>

                                

                                
                            </div>
                        </div>
                    </div>
                </div>
                
                    <script>
                    function sort() {

                        console.log("hiiiiii")


                    }
                
                </script>


                <div class="row">

                    {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6 product-card">
                        <div class="product__item">
                            
                            <div style="height: 28rem;" class="product__item__pic set-bg"
                                data-setbg="/productImages/{{image.[0]}}">

                                <ul  class="product__hover">
                                    <li onclick="addToWishlist('{{productid}}')"><img src="img/icon/heart.png" alt="">
                                    </li>

                                    {{!-- <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                                    </li> --}}
                                    <li><a href="/product-details/{{_id}}"><img src="img/icon/search.png" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{title}}</h6>
                                <a href="/product-details/{{_id}}" class="add-cart">+ Add To Cart</a>
                                {{!-- <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div> --}}
                                <h5>₹{{price}}</h5>
                                {{!-- <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{!-- sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss --}}

                </div>

                <script>
                    function addToWishlist(id) {

                        $.ajax({
                            url: '/add-to-wishlist',
                            data: {
                                productid: id
                            },
                            method: 'POST',
                            success: (response) => {
                                if (response.status == true) {


                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        iconColor: '#a5dc86',
                                        background: 'black',
                                        color: '#a5dc86',

                                        timer: 3000,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    })

                                    Toast.fire({
                                        icon: 'success',
                                        title: 'Product Added TO Wishlist'
                                    })



                                }
                            }
                        })


                    }
                </script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <div class="row">
                    <div class="col-lg-12">
                        {{!-- <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

{{!-- <script>
    function sendData(e) {
        const searchResults = document.getElementById('searchbox')
        let match = e.value.match(/^[a-zA-Z]*/)
        let match2 = e.value.match(/\s*/)
        if (match2[0] == e.value) {
            searchResults.innerHTML = '';
            return
        }
        if (match[0] == e.value) {
            fetch('get-products', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ payload: e.value })
            }).then(res => res.json()).then(data => {
                let payload = data.payload;

                searchResults.innerHTML = '';

                if (payload.length < 1) {

                    searchResults.innerHTML = '<p>soory not found<p>';
                    return;
                }
                payload.forEach((item, index) => {

                    if (index > 0) searchResults.innerHTML += '<hr>';
                    searchResults.innerHTML += `<div onclick="window.location.href='/product-search/${item._id}'"class="d-flex"><img src="/productImages/${item.image[0]}" width="100px" alt=""><p>${item.title}</p></div>`

                })

            });

            return
        }

        searchResults.innerHTML = '';

    }
</script> --}}


<script>
    document.getElementById("searchInput").addEventListener("input", searchProducts);

    function searchProducts() {
  // Get the search input value
  var searchInput = document.getElementById("searchInput").value.toLowerCase();
  
  // Loop through all the product cards and hide/show them based on search input
  var productCards = document.querySelectorAll(".product-card");
  for (var i = 0; i < productCards.length; i++) {
    var productName = productCards[i].querySelector(".product__item__text").textContent.toLowerCase();
    if (productName.indexOf(searchInput) > -1) {
      productCards[i].style.display = "";
    } else {
      productCards[i].style.display = "none";
    }
  }
}
</script>

{{>user-footer}}