





{{>user-header}}

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<h4>Shopping Cart</h4>
						<div class="breadcrumb__links">
							<a href="./index.html">Home</a>
							<a href="./shop.html">Shop</a>
							<span>Shopping Cart</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shopping Cart Section Begin -->
	<section class="shopping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="shopping__cart__table">
						<table>
							<thead>
								<tr>
									<th>Product</th>
									<th>Quantity</th>
									<th>Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

								 {{#each userCartAllProducts}} 
								<tr>
									<td class="product__cart__item">
										<div class="product__cart__item__pic">
											<img width="70px" height="90px" src="/productImages/{{product.image.[0]}}" alt="">
										</div>
										<div class="product__cart__item__text">
											<h6>{{product.title}}</h6>
											<h5>₹{{product.price}}</h5>
										</div>
									</td>
									<td class="quantity__item">
										{{#if (gtr quantity  product.stock)}}
										<button disabled class="primary-btn bg-danger">Out Of Stock</button>

										{{else}}
										<div class="quantity" style="margin-left: -1rem;">
											{{#if (eq quantity 1)}}
											<div class="value-button" id="decrease"
												
												> </div>
											{{else}}
											<div class="value-button" id="decrease"
												onclick="decreaseValue(),changequantity('{{product.productid}}',-1)"
												value="Decrease Value">-</div>
												{{/if}}
											<input type="number" id="number" value="{{quantity}}" />
											<div class="value-button" id="increase"
												onclick="increaseValue(),changequantity('{{product.productid}}',1)"
												value="Increase Value">+</div>
										</div>
										{{/if}}

									</td>
									<td class="cart__price">${{totalprice}}</td>
									<td class="cart__close"><a href="/user-cart-delete/?productId={{product.productid}}&colour={{colour}}&size={{size}}"><i class="fa fa-close"></i></a></td>
								</tr>
								{{/each}}



							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="continue__btn">
								<a href="#">Continue Shopping</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="continue__btn update__btn">
								<a href="#"><i class="fa fa-spinner"></i> Update cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cart__discount">
						<h6>Discount codes</h6>
						<form action="/apply-coupon" method="post">
							<input name="couponCode" type="text" placeholder="Coupon code">
							<button type="submit">Apply</button>
						</form>
						<p style="font-size: 10px; margin-top: 3px; " class="text-danger">{{cpnMessage}}</p>
					</div>
					<div class="cart__total">
						<h6>Cart total</h6>
						<ul>
							<li>Subtotal <span>${{subtotal}}</span></li>
							<li class="text-danger">Discount <span>${{discount1}}</span></li>
							{{#if (eqn total)}}
							<li>Total <span>${{subtotal}}</span></li>
							{{else}}
							<li>Total <span>${{total}}</span></li>
							{{/if}}
						</ul>
						{{#if (eq subtotal 0)}}
						<p class="text-danger">Cart is Empty</p>
						{{else}}
						{{#if checkout}}
						<a href="/user-checkout" class="primary-btn">Proceed to checkout</a>
						{{else}}
						<p class="text-danger">Remove OutOfStock Product</p>
						{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shopping Cart Section End -->

	<script>
		function changequantity(productid, count) {

			$.ajax({
				url: '/change-cart-quantity',
				data: {
					productid: productid,
					count: count
				},
				method: 'POST',
				success: (response) => {
					location.href = '/user-cart'
				}
			})


		}
	</script>



	<style>
		.value-button {
			display: inline-block;

			margin: 0px;
			width: 40px;
			height: 20px;
			text-align: center;
			vertical-align: middle;
			padding: 11px 0;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			margin-top: -2rem;
		}

		.value-button:hover {
			cursor: pointer;
		}

		form #decrease {
			margin-right: -4px;
			border-radius: 8px 0 0 8px;
		}

		form #increase {
			margin-left: -4px;
			border-radius: 0 8px 8px 0;
		}

		form #input-wrap {
			margin: 0px;
			padding: 0px;
		}

		input#number {
			text-align: center;
			border: none;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			margin: 0px;
			width: 40px;
			height: 40px;
		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>

	<script>
		function increaseValue() {
			var value = parseInt(document.getElementById('number').value, 10);
			value = isNaN(value) ? 0 : value;
			value++;
			document.getElementById('number').value = value;
		}

		function decreaseValue() {
			var value = parseInt(document.getElementById('number').value, 10);
			value = isNaN(value) ? 0 : value;
			value < 1 ? value = 1 : '';
			value--;
			document.getElementById('number').value = value;
		}
	</script>



	{{>user-footer}}