{{>user-header}}

    
<style>
body{
    overflow-x: hidden;
}
</style>
   <div class="row" style="padding: 5%;">

    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg2" style="margin-bottom: 3%" class="btn btn-dark btn-lg btn-block">Add New Address</button>




        <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="card">
                           <div class="card-header d-flex justify-content-between">
                              <div class="header-title">
                                 <h4 class="card-title">Add Address</h4>
                              </div>
                           </div>
                           <div class="card-body">
                              <form action="/user-add-address" method="post" onsubmit="disableButton5()">
                                 <div class="row">
                                 <div class="col">
                                    <input type="text"  name="name" class="form-control" placeholder="Name" pattern="^[A-Za-z]+$"
                                        title="Please enter a valid first name containing only alphabetic characters."
                                        required>
                                 </div>
                                 <div class="col">
                                    <input type="text"  name="phone" class="form-control" placeholder="Phone Number" pattern="^[0-9]{10}$" title="Please enter a valid 10-digit phone number." required>
                                 </div>
                                 
                                  </div>
                              
                              
                                 <div class="row" style="margin-top: 3%;">
                                 <div class="col">
                                    <input type="text" name="pincode" class="form-control" placeholder="Pincode" pattern="^[0-9]{6}$" title="Please enter a valid 6-digit postcode/ZIP code." required>
                                 </div>
                                 <div class="col">
                                    <input type="text"  name="locality" class="form-control" placeholder="Locality" pattern="^[A-Za-z]+$"
                                        title="Please enter a valid locality containing only alphabetic characters."
                                        required>
                                 </div>
                                 
                                 </div>

                                 <div class="form-group" style="margin-top: 3%;">
      
                                    <textarea name="address"  placeholder="Address(street and area)" class="form-control" id="exampleFormControlTextarea1" rows="2" pattern="^[A-Za-z0-9\s]+$"
                                title="Please enter a valid address containing alphabetic characters, digits, and spaces."
                                required>{{userAddress.address}}</textarea>
                                 </div>

                                 <div class="row" style="margin-top: 3%;">
                                 <div class="col">
                                    <input name="city"  type="text" class="form-control" placeholder="City/District/Town"  pattern="^[A-Za-z]+$"
                                title="Please enter a valid town/city containing only alphabetic characters." required>
                                 </div>
                                 <div class="col">
                                    <input name="state" type="text" class="form-control" placeholder="State" pattern="^[A-Za-z\s]+$"
                                title="Please enter a valid state containing only alphabetic characters." required>
                                 </div>
                                 
                                  </div>
                              
                              
                                 <div class="row" style="margin-top: 3%;">
                                 <div class="col">
                                    <input name="landmark"  type="text" class="form-control" placeholder="Landmark (Optional) " pattern="^[A-Za-z0-9\s]+$"
                                title="Please enter a valid landmark containing alphabetic characters, digits, and spaces."
                                required>
                                 </div>
                                 <div class="col">
                                    <input name="alternativephone"  type="text" class="form-control" placeholder="Alternate Phone (Optional)" pattern="^[0-9]{10}$" title="Please enter a valid 10-digit phone number.">
                                 </div>
                                 
                                 </div>
   
                                 <div style="margin-top: 3%;">
                                 <button type="reset" class="btn btn-outline-primary mr-2">Cancel</button>
                                 <button type="submit1" class="btn btn-primary">Submit</button></div>
                              </form>
                           </div>
                        </div>
            
            </div>
        </div>
        </div>
        <script>
  function disableButton5() {
    document.getElementById("submit1").disabled = true;
    
  }
</script>




    
    
   {{#each alladdress}} 
  <div  class="card-body" style="background-color: #ddf5f5;margin-bottom: 4%;width: 100%;">
    <h5 class="card-title">Address No:{{ @index}}</h5>
    <p class="card-text">Name : {{name}} <br> Phone : {{phone}}<br>  Address : {{address}}<br>  Locality : {{locality}}<br> City : {{city}}<br> Landmark : {{landmark}}<br> State : {{state}} <br> Pincode : {{pincode}}<br> Alternative Phone : {{alternativephone}}</p>
    
    <a href="/delete-address/{{addressId}}" class="btn btn-dark">Remove</a>
    <!-- Large modal -->
<button type="button" class="btn btn-dark" data-toggle="modal" data-target=".bd-example-modal-lg">Edit</button>
{{#if default}}
<button type="button" disabled class="btn btn-outline-dark">Default Address</button>
{{else}}
<a href="/setDefault/{{addressId}}" class="btn btn-dark">Set Default</a>
{{/if}}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="card-body">
                              <form action="/user-edit-address/{{addressId}}" onsubmit="disableButton()" method="post">
                                 <div class="row">
                                 <div class="col">
                                    <input type="text" value="{{name}}" name="name" class="form-control" placeholder="Name" pattern="^[A-Za-z]+$"
                                        title="Please enter a valid first name containing only alphabetic characters."
                                        required>
                                 </div>
                                 <div class="col">
                                    <input type="text" value="{{phone}}" name="phone" class="form-control" placeholder="Phone Number" pattern="^[0-9]{10}$" title="Please enter a valid 10-digit phone number." required>
                                 </div>
                                 
                                  </div>
                              
                              
                                 <div class="row" style="margin-top: 3%;">
                                 <div class="col">
                                    <input type="text"value="{{pincode}}" name="pincode" class="form-control" placeholder="Pincode" pattern="^[0-9]{6}$" title="Please enter a valid 6-digit postcode/ZIP code." required>
                                 </div>
                                 <div class="col">
                                    <input type="text" value="{{locality}}" name="locality" class="form-control" placeholder="Locality" pattern="^[A-Za-z]+$"
                                        title="Please enter a valid locality containing only alphabetic characters."
                                        required>
                                 </div>
                                 
                                 </div>

                                 <div class="form-group" style="margin-top: 3%;">
      
                                    <textarea name="address"  placeholder="Address(street and area)" class="form-control" id="exampleFormControlTextarea1" rows="2"  pattern="^[A-Za-z0-9\s]+$"
                                title="Please enter a valid address containing alphabetic characters, digits, and spaces."
                                required>{{address}}</textarea>
                                 </div>

                                 <div class="row" style="margin-top: 3%;">
                                 <div class="col">
                                    <input name="city" value="{{city}}" type="text" class="form-control" placeholder="City/District/Town"  pattern="^[A-Za-z]+$"
                                title="Please enter a valid town/city containing only alphabetic characters." required>
                                 </div>
                                 <div class="col">
                                    <input name="state" value="{{state}}" type="text" class="form-control" placeholder="State" pattern="^[A-Za-z\s]+$"
                                title="Please enter a valid state containing only alphabetic characters." required>
                                 </div>
                                 
                                  </div>
                              
                              
                                 <div class="row" style="margin-top: 3%;">
                                 <div class="col">
                                    <input name="landmark" value="{{landmark}}" type="text" class="form-control" placeholder="Landmark (Optional)" pattern="^[A-Za-z0-9\s]+$"
                                title="Please enter a valid landmark containing alphabetic characters, digits, and spaces."
                                >
                                 </div>
                                 <div class="col">
                                    <input name="alternativephone" value="{{alternativephone}}" type="text" class="form-control" placeholder="Alternate Phone (Optional)" pattern="^[0-9]{10}$" title="Please enter a valid 10-digit phone number.">
                                 </div>
                                 
                                 </div>
   
                                 <div style="margin-top: 3%;">
                                 <button type="reset" class="btn btn-outline-primary mr-2">Cancel</button>
                                 <button id="addaddresssubmit" type="submit" class="btn btn-primary">Submit</button></div>
                              </form>
                              <script>
  function disableButton() {
    document.getElementById("addaddresssubmit").disabled = true;
    
  }
</script>
                           </div>
    </div>
  </div>
</div>

  </div>

{{/each}}
</div>



 
</div>
<br>
<br>
<br>
<br>
<br>
 <div class="row">{{>user-footer}}</div> 