{{>user-header}}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">

            <form name="sub" id="checkoutform" role="form" onsubmit="disableButton()" action="" method="">
                <div class="row">
                    <div class="col-lg-8 col-md-6">

                        <div class="row">
                            {{!-- <a href="/saved-address"> --}}
                                <button data-toggle="modal" data-target=".bd-example-modal-lg"
                                    style="float: right;width: 100%; background: black;" type="button"
                                    class="mt-2 btn  btn-dark  btn-with-icon"><i class="ri-bill-fill"></i>Select
                                    Saved Address for Checkout</button>
                                {{!-- </a> --}}









                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div style="padding: 22px;" class="modal-content">

                                        {{#if savedAddress}}
                                        {{#each chooseaddress}}
                                        <div class="card" style="margin-bottom: 3%;">
                                            <div class="card-body">
                                                <h5 class="card-title">Address No:{{inc @index}}</h5>
                                                <p class="card-text">
                                                <div style="width: 50%;       float: left;">
                                                    <p class="card-text">Name : {{name}} <br> Phone : {{phone}}<br>
                                                        Address : {{address}}<br> Locality : {{locality}}<br> City :
                                                        {{city}}</p>
                                                </div>
                                                <div style="width: 50%; margin-bottom: 4%;      float: left;">
                                                    <p class="card-text"> Landmark : {{landmark}}<br> State :
                                                        {{state}} <br> Pincode : {{pincode}}<br> Alternative Phone :
                                                        {{alternativephone}}</p>
                                                </div>
                                                </p>
                                                <a href="/saved-address-choose/{{addressId}}"
                                                    class="btn btn-dark">Choose</a>
                                            </div>
                                        </div>
                                        {{/each}}
                                        {{else}}
                                        <p class="text-danger" style="text-align: center;">YOU DONT HAVE ANY SAVED
                                            ADDRESS</p>
                                        {{/if}}
                                        <a href="/saved-address" class="btn btn-dark">Add New Address</a>



                                    </div>
                                </div>
                            </div>









                        </div>
                        <h6 style="margin-top: 3%" class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Fist Name<span>*</span></p>
                                    <input id="name" name="name" value="{{userData.[0].address.name}}" type="text"
                                        pattern="^[A-Za-z]+$"
                                        title="Please enter a valid first name containing only alphabetic characters."
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Locality<span>*</span></p>
                                    <input id="locality" value="{{userData.[0].address.locality}}" name="locality"
                                        type="text" pattern="^[A-Za-z]+$"
                                        title="Please enter a valid locality containing only alphabetic characters."
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Landmark<span>*</span></p>
                            <input id="landmark" name="landmark" value="{{userData.[0].address.landmark}}" type="text"
                                pattern="^[A-Za-z0-9\s]+$"
                                title="Please enter a valid landmark containing alphabetic characters, digits, and spaces."
                                required>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input id="address" name="address" value="{{userData.[0].address.address}}" type="text"
                                placeholder="Street Address" class="checkout__input__add" pattern="^[A-Za-z0-9\s]+$"
                                title="Please enter a valid address containing alphabetic characters, digits, and spaces."
                                required>
                            {{!-- <input type="text" placeholder="Apartment, suite, unite ect (optinal)"> --}}
                        </div>
                        <div class="checkout__input">
                            <p>Town/City<span>*</span></p>
                            <input id="city" name="city" value="{{userData.[0].address.city}}" type="text"
                                pattern="^[A-Za-z]+$"
                                title="Please enter a valid town/city containing only alphabetic characters." required>
                        </div>
                        <div class="checkout__input">
                            <p>State<span>*</span></p>
                            <input id="state" name="state" value="{{userData.[0].address.state}}" type="text"
                                pattern="^[A-Za-z\s]+$"
                                title="Please enter a valid state containing only alphabetic characters." required>
                        </div>
                        <div class="checkout__input">
                            <p>Postcode / ZIP<span>*</span></p>
                            <input id="pincode" name="pincode" value="{{userData.[0].address.pincode}}" type="text"
                                pattern="^[0-9]{6}$" title="Please enter a valid 6-digit postcode/ZIP code." required>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input id="phone" name="phone" value="{{userData.[0].address.phone}}" type="text"
                                        pattern="^[0-9]{10}$" title="Please enter a valid 10-digit phone number."
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Alternative Phone<span></span></p>
                                    <input id="alternativephone" name="alternativephone"
                                        value="{{userData.[0].address.alternativephone}}" type="text"
                                        pattern="^[0-9]{10}$" title="Please enter a valid 10-digit phone number.">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input__checkbox">

                        </div>
                        <div class="checkout__input">

                        </div>
                        <div class="checkout__input__checkbox">

                        </div>
                        <div class="checkout__input">

                        </div>
                    </div>
                    <style>

                    </style>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div style="padding: 1rem;background-color: black;" class="card card-block mb-5">
                                <h4 class="card-title  " style="text-align: center;color: white; "> <b>WALLET</b> </h4>
                                {{#if walletBalance.wallet}}
                                <h5 style="text-align: center;color: white;"> <b>Balance: ₹ {{walletBalance.wallet}}</b>
                                    </h4>
                                    {{else}}
                                    <h5 style="text-align: center;color: white;"> <b>Balance: ₹ 0</b> </h4>
                                        {{/if}}

                            </div>

                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                {{#each chkoutorders}}
                                <li>0{{inc @index}}. {{product.title}} <span>₹ {{totalprice}}.0</span></li>
                                {{/each}}
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Subtotal <span>₹{{subtotal}}</span></li>
                                {{#if (eqn total)}}
                                <li>Total <span>₹{{subtotal}}</span></li>
                                {{else}}
                                <li>Total <span>₹{{total}}</span></li>
                                {{/if}}

                            </ul>
                            {{#if (eqn total)}}
                            {{#if (lst subtotal walletBalance.wallet)}}
                            <div class="checkout__input__checkbox">

                                <label for="Wallet">
                                    Wallet
                                    <input name="paymentmethod" value="Wallet"
                                        onchange="uncheck('onlinePayment','cod'),enableButton2()" type="checkbox"
                                        id="Wallet">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            {{/if}}
                            {{else}}
                            {{#if (lst total walletBalance.wallet)}}
                            <div class="checkout__input__checkbox">

                                <label for="Wallet">
                                    Wallet
                                    <input name="paymentmethod" value="Wallet"
                                        onchange="uncheck('onlinePayment','cod'),enableButton2()" type="checkbox"
                                        id="Wallet">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            {{/if}}

                            {{/if}}

                            <div class="checkout__input__checkbox">
                                <label for="cod">
                                    Cash On Delivery
                                    <input checked name="paymentmethod" value="Cash on delivery"
                                        onchange="uncheck('onlinePayment','Wallet'),enableButton2()" type="checkbox"
                                        id="cod">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="onlinePayment">
                                    Online Payment
                                    <input name="paymentmethod" value="online payments"
                                        onchange="uncheck('cod','Wallet'),enableButton2()" type="checkbox"
                                        id="onlinePayment">
                                    <span class="checkmark"></span>
                                </label>
                                <script>
                                    function uncheck(id, id1) {
                                        var checkbox = document.getElementById(id);
                                        checkbox.checked = false;
                                        var checkbox1 = document.getElementById(id1);
                                        checkbox1.checked = false;

                                    }
                                </script>
                                <script>
                                    function enableButton2() {
                                        document.getElementById("submit").disabled = false;

                                    }
                                </script>








                            </div>

                            <p class="text-danger" id="error-message"></p>
                            {{#if cart}}

                            <button style="background: black;" id="submit" type="submit" class="site-btn">PLACE
                                ORDER</button>
                            {{else}}
                            <div class="row">
                                <p style="text-align: center;" class="text-danger"><b>YOUR CART IS EMPTY</b></p>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


</section>

<script>
    function disableButton() {
        document.getElementById("submit").disabled = true;

    }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<script>
    $('#checkoutform').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user-place-order',
            method: 'POST',
            data: $('#checkoutform').serialize(),
            success: (response) => {


                if (response.status == true) {
                    razorpaypayment(response.order)
                } else {
                    location.href = "/orderSuccess"
                }



            }

        })
    })


    function razorpaypayment(order) {

        var options = {
            "key": "rzp_test_MuIKQEa1huaLLF", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Male_Fashion", //your business name
            "description": "Test Transaction",
            "image": "/img/logo.png",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {


                verifypayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#020208"
            }
        };

        var rzp1 = new Razorpay(options);

        rzp1.open();


    }

    function verifypayment(payment, order) {
        $.ajax({

            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: "POST",
            success: (response) => {

                location.href = '/orderSuccess'
            }


        })


    }

</script>
<!-- Checkout Section End -->



{{>user-footer}}