{{>user-header}}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
									
                                    <th class="">Quantity</th>
									<th>Delivery Date</th>
									<th>Order Status</th>
                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
								{{#each orders}}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img width="70px" height="90px" src="/productImages/{{products.image.[0]}}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{products.title}}</h6>
                                            <h5>{{products.price}}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item " style="padding: 2rem;">{{products.quantity}}</td>
                                    
                                    <td class="cart__price " style="padding: 0.7rem">{{deliverydate}}</td>
									<td style="text-align: center;" class="cart__price">{{products.status}}</td>
                                    {{#if (eq products.status "canceled")}}
                                
                                   {{else}}

                                   {{#if (eq products.status "delivered")}}
                                    <td class="cart__close " style="    padding: 1rem"><a href="/return-request/?id={{_id}}&productid={{products.productid}}" class="primary-btn">Return</a></td>
                                    {{else}}
                                    {{#if (eq products.status "Return Requested")}}

                                                                        <td class="cart__close " style="    padding: 1rem"><a href="" class="primary-btn">Cancel Return</a></td>

                                    {{else}}
                                    {{#if (eq products.status "Return Accepted")}}
                                    {{else}}
                                    {{#if (eq products.status "Return Declined")}}
                                    {{else}}
                                    <td class="cart__close " style="    padding: 1rem"><a href="/user-orders-cancel/?id={{_id}}&productid={{products.productid}}&paymentmethod={{paymentmethod}}&totalprice={{products.totalprice}}" class="primary-btn">Cancel</a></td>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                </tr>
                                
                               {{/each}} 
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                        {{!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div> --}}
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

  {{>user-footer}}